@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
/*************
Basic styles
****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Raleway, Arial, Helvetica, sans-serif; }

.container {
  width: 75%;
  margin: 0 auto; }

.active {
  transform: translateX(100%); }

/*************
Header
****************/
header {
  position: relative;
  height: 100vh; }
  header nav {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: white;
    background: #111111; }
    header nav a {
      color: #fff;
      text-decoration: none; }
      header nav a:hover {
        text-shadow: 1px 1px 10px #fff;
        transition: 0.3s ease all;
        cursor: pointer; }
  header .video {
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    right: 50%;
    width: 100%;
    overflow: hidden; }
    header .video::before {
      content: "";
      background: linear-gradient(to right, rgba(206, 27, 40, 0.5), rgba(17, 17, 17, 0.5));
      width: 100%;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
    header .video video {
      height: 100%;
      width: 100%;
      object-fit: fill; }
  header .img {
    height: 100vh;
    background: linear-gradient(to right, rgba(206, 27, 40, 0.6), rgba(17, 17, 17, 0.6)), url(../img/bg-blog.jpg);
    background-position: center;
    background-size: cover; }
  header .content {
    position: absolute;
    z-index: 10000;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .content h1 {
      font-weight: 300;
      font-size: 4em;
      letter-spacing: 7px;
      margin-bottom: 30px; }
    header .content p {
      text-align: center;
      font-size: 1.3em; }

/**************
Menu
**************/
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 200px;
  height: 100%;
  background: #111111;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: 0.6s ease all;
  align-items: center; }
  .menu .close {
    position: absolute;
    color: #fff;
    top: 20px;
    right: 40px;
    font-size: 1.5rem;
    cursor: pointer; }
    .menu .close:hover {
      transition: 0.3s ease all;
      transform: scale(1.1); }
  .menu ul {
    list-style: none;
    margin-top: 50px; }
    .menu ul li {
      font-weight: 600;
      padding: 30px 0;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-bottom: 5px; }
      .menu ul li::after {
        content: "";
        display: block;
        height: 1.5px;
        width: 100%;
        background: #fff;
        margin-top: 5px; }
      .menu ul li:hover {
        text-shadow: 1px 1px 10px #fff;
        transition: 0.3s ease all;
        cursor: pointer; }
      .menu ul li a {
        color: #fff;
        text-decoration: none; }
  .menu .icons {
    margin-left: 10px;
    position: absolute;
    bottom: 20px; }
    .menu .icons a {
      color: #fff; }
      .menu .icons a i {
        font-size: 2.4rem;
        margin-right: 10px; }
        .menu .icons a i:hover {
          color: #ce1b28;
          transition: 0.3s ease all; }

/**************
technologies
**************/
.technologies {
  background-color: #f1f1f1;
  padding: 60px 0; }
  .technologies h2 {
    font-size: 2.2rem;
    color: #111111;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px; }
  .technologies .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .technologies .container article {
      flex: 0 0 31%;
      text-align: center;
      box-shadow: 1px 1px 5px #111111;
      margin-bottom: 20px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 8px; }
      .technologies .container article .bgImg {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 8px 8px 0 0; }
      .technologies .container article h3 {
        color: #111111;
        font-size: 1.3em;
        margin-top: 15px; }
      .technologies .container article p {
        color: #111111;
        text-align: justify;
        padding: 15px; }
      .technologies .container article img {
        width: 100%;
        height: auto;
        max-height: 250px; }
      .technologies .container article:hover {
        box-shadow: 2px 2px 10px #111111;
        transition: 0.3s ease all; }

/**************
about
**************/
.about {
  background: linear-gradient(to right, rgba(206, 27, 40, 0.5), rgba(17, 17, 17, 0.5)), url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-attachment: fixed; }
  .about h3 {
    font-size: 3.3rem;
    font-weight: 300;
    margin: 15px 0;
    color: #fff; }
  .about p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 40px; }

/**************
counter
**************/
.counter {
  background: #f1f1f1;
  position: relative;
  padding: 60px 0; }
  .counter .container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    height: 170px;
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    padding: 35px 50px;
    box-shadow: 1px 1px 10px #111111; }
    .counter .container i {
      color: #ce1b28; }
    .counter .container h3 {
      color: #111111;
      font-size: 0.9rem;
      font-weight: 700;
      padding-bottom: 10px; }
    .counter .container p {
      font-weight: 700;
      margin: 10px 0;
      color: #111111;
      font-size: 2.2rem; }

/**************
team
**************/
.team {
  background: #f1f1f1;
  padding: 60px 0; }
  .team h2 {
    font-size: 2.2rem;
    color: #111111;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px; }
  .team .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .team .container article {
      position: relative;
      margin-top: 50px;
      flex: 0 0 31%;
      background: #fff;
      text-align: center;
      box-shadow: 1px 1px 5px #111111;
      border-radius: 8px; }
      .team .container article img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        border: 6px solid #fff;
        box-shadow: 1px 1px 10px #111111; }
      .team .container article h3 {
        margin-top: 70px;
        color: #ce1b28;
        font-size: 1.8rem; }
      .team .container article small {
        color: #ce1b28; }
      .team .container article p {
        margin: 30px 0;
        color: #111111; }
      .team .container article:hover {
        box-shadow: 1px 1px 10px #111111;
        transition: 0.3s ease all; }
        .team .container article:hover img {
          box-shadow: 1px 1px 20px #111111;
          transition: 0.3s ease all; }

/**************
footer
**************/
footer {
  background: #111111;
  color: #fff;
  padding: 20px 0; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .container .hours h3 {
      font-size: 1.5rem;
      margin-bottom: 20px; }
    footer .container p {
      margin-top: 5px; }
    footer .container .icons h3 {
      font-size: 1.5rem;
      margin-top: 5px;
      margin-bottom: 20px; }
    footer .container .icons a {
      color: #fff; }
      footer .container .icons a i {
        font-size: 2.4rem;
        margin-right: 10px; }
        footer .container .icons a i:hover {
          color: #ce1b28;
          transition: 0.3s ease all; }

/************
Page About us
************/
.values {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0; }
  .values .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .values article {
    flex: 0 0 45%; }
    .values article h3 {
      font-size: 3rem;
      font-weight: 600;
      color: #ce1b28;
      text-shadow: 1px 1px 0px #f1f1f1; }
  .values .value {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap; }
    .values .value article {
      flex: 0 0 45%;
      margin-bottom: 20px; }
      .values .value article i {
        font-size: 1.4rem;
        padding-bottom: 15px;
        color: #ce1b28;
        text-shadow: 1px 1px 0px #f1f1f1; }
      .values .value article h4 {
        color: #ce1b28;
        text-shadow: 1px 1px 0px #f1f1f1;
        font-weight: 600;
        margin-bottom: 10px; }
      .values .value article p {
        font-size: 1.1rem;
        line-height: 1.8; }

/***********
introduction
***********/
.introduction {
  padding: 60px 0; }
  .introduction h2 {
    font-size: 2.2rem;
    color: #111111;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px; }
  .introduction .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .introduction .container article:first-child {
      flex: 0 0 58%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      padding-right: 20px;
      text-align: justify; }
      .introduction .container article:first-child h2 {
        color: #ce1b28; }
      .introduction .container article:first-child p {
        font-size: 1.2rem;
        color: #111111; }
    .introduction .container article:last-child {
      flex: 0 0 30%;
      height: 50vh;
      filter: hue-rotate(330deg);
      border-radius: 30px; }
      .introduction .container article:last-child img {
        width: auto;
        height: 100%;
        border-radius: 30px; }
        .introduction .container article:last-child img:hover {
          filter: sepia(90); }

/*******principles*********/
.principles {
  background: linear-gradient(to right, rgba(206, 27, 40, 0.5), rgba(17, 17, 17, 0.5)), url(../img/background.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff; }
  .principles h2 {
    font-size: 2.2rem;
    color: #111111;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    color: #fff; }
  .principles p {
    font-size: 1.2rem; }

/**************
blog
**************/
.blog {
  padding: 60px 0;
  background-color: #f1f1f1; }
  .blog h2 {
    text-align: center;
    color: #ce1b28;
    margin-bottom: 30px;
    font-size: 1.9rem; }
  .blog .container {
    display: flex;
    justify-content: space-between; }
    .blog .container main {
      flex: 0 0 70%; }
      .blog .container main article {
        display: flex;
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px #111111; }
        .blog .container main article .featured-image {
          padding: 20px; }
          .blog .container main article .featured-image img {
            width: 300px;
            height: 250px; }
        .blog .container main article .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          color: #111111; }
          .blog .container main article .text h4 {
            font-size: 1.4rem;
            margin-bottom: 15px; }
          .blog .container main article .text h3 {
            font-size: 1.5rem;
            color: #ce1b28;
            margin-bottom: 15px; }
          .blog .container main article .text button {
            background: #ce1b28;
            color: #fff;
            padding: 5px;
            font-size: 1.1rem;
            margin-top: 15px;
            border: 0;
            cursor: pointer; }
            .blog .container main article .text button:hover {
              transition: 0.3s ease all;
              color: #fff;
              background: #111111;
              box-shadow: 1px 1px 10px #111111; }
    .blog .container aside {
      flex: 0 0 27%; }
      .blog .container aside .widget {
        margin-bottom: 30px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px #111111;
        padding: 38px; }
        .blog .container aside .widget h3 {
          font-size: 1.7rem;
          color: #ce1b28;
          margin-bottom: 25px; }
        .blog .container aside .widget ul {
          list-style: none; }
          .blog .container aside .widget ul li {
            margin-bottom: 11px;
            font-weight: bold;
            font-size: 1.2rem; }
            .blog .container aside .widget ul li a {
              color: #111111;
              text-decoration: none; }
              .blog .container aside .widget ul li a:hover {
                text-shadow: 2px 2px 5px rgba(17, 17, 17, 0.5);
                transition: 0.3s ease all; }

/*# sourceMappingURL=style.css.map */
