@mixin headings() {
  font-size: 2.2rem;
  color: $secondary;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

@mixin headingsAfter() {
    font-size: 2.2rem;
    color: $secondary;
    font-weight: 400;
      &::after {
        display: block;
        content: "";
        width: 60px;
        height: 3px;
        background: $primary;
        margin: 15px 0 30px 0;               
    }
}